* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
    font-size: 40px;
}

.menor-edad {
    color: #FF6B6B;
    font-size: 24px;
}

.adulto-joven {
    color: #4ECDC4;
    font-size: 26px;

}

.adulto {
    color: #1A535C;
    font-size: 28px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 300px;
}

.persona {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    flex-basis: calc(30% - 10px);
}

.persona img {
    width: 200px;
    height: 200px;
}